{% extends "bookings/base.html" %}

{% block content %}
<h2><strong>Login</strong></h2>
    <form method="post" class="padding">
        {% csrf_token %}
                <label for="username" class="form-label padding">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            
                <label for="password" class="form-label padding">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            
            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
<div class="padding">
            <button type="submit" class="btn custom-btn ">login</button>
            </div>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
      </div>
      

    
   
{% endblock %}